.expense-filter {
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: darkslategrey;
  justify-content: flex-end;
  color: white;
  align-items: center;
  border-radius: 15px;

  display: flex;
}
